
    {% render 'gp-head', 'isThemeSection: true' %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-601118599599358828.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-601118599599358828.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-601118599599358828.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-601118599599358828.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-601118599599358828.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-601118599599358828.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-601118599599358828.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-601118599599358828.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-601118599599358828.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-601118599599358828.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-601118599599358828.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-601118599599358828.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-601118599599358828.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-601118599599358828.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-601118599599358828.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-601118599599358828.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-601118599599358828.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-601118599599358828.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-601118599599358828.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-601118599599358828.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-601118599599358828.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-601118599599358828.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-601118599599358828.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-601118599599358828.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-601118599599358828.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-601118599599358828.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-601118599599358828.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-601118599599358828.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-601118599599358828.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-601118599599358828.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-601118599599358828.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-601118599599358828.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-601118599599358828.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-601118599599358828.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-601118599599358828.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-601118599599358828.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-601118599599358828.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-601118599599358828.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-601118599599358828.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-601118599599358828.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-601118599599358828.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-601118599599358828.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-601118599599358828.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-601118599599358828.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-601118599599358828.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-601118599599358828.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-601118599599358828.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-601118599599358828.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-601118599599358828.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-601118599599358828.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-601118599599358828.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-601118599599358828.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-601118599599358828.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-601118599599358828.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-601118599599358828.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-601118599599358828.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-601118599599358828.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-601118599599358828.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-601118599599358828.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-601118599599358828.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-601118599599358828.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-601118599599358828.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-601118599599358828.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-601118599599358828.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-601118599599358828.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-601118599599358828.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-601118599599358828.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-601118599599358828.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-601118599599358828 .gp-relative{position:relative}.gps-601118599599358828 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-601118599599358828 .gp-mb-0{margin-bottom:0}.gps-601118599599358828 .gp-flex{display:flex}.gps-601118599599358828 .gp-grid{display:grid}.gps-601118599599358828 .\!gp-hidden{display:none!important}.gps-601118599599358828 .gp-hidden{display:none}.gps-601118599599358828 .gp-w-full{width:100%}.gps-601118599599358828 .\!gp-max-w-none{max-width:none!important}.gps-601118599599358828 .gp-max-w-full{max-width:100%}.gps-601118599599358828 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-601118599599358828 .gp-flex-col{flex-direction:column}.gps-601118599599358828 .gp-overflow-hidden{overflow:hidden}.gps-601118599599358828 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-601118599599358828 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-601118599599358828 .gp-duration-200{transition-duration:.2s}.gps-601118599599358828 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-601118599599358828 .tablet\:\!gp-hidden{display:none!important}.gps-601118599599358828 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-601118599599358828 .mobile\:\!gp-hidden{display:none!important}.gps-601118599599358828 .mobile\:gp-hidden{display:none}}.gps-601118599599358828 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-601118599599358828 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-601118599599358828 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-601118599599358828 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gZVnsx_u5_"}' data-id="gZVnsx_u5_" id="gZVnsx_u5_" data-same-height-subgrid-container class="gZVnsx_u5_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:80px;--pb:var(--g-s-2xl);--pr:200px;--pt-tablet:var(--g-s-2xl);--pl-tablet:80px;--pb-tablet:var(--g-s-2xl);--pr-tablet:200px;--pt-mobile:var(--g-s-2xl);--pl-mobile:24px;--pb-mobile:0px;--pr-mobile:24px;--d:none;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIBrLGAbZ9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gETLaDozIs"
        class="gETLaDozIs"
        style="--ta:left;--mb:10px;--mb-tablet:10px;--mb-mobile:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-heading, heading);--weight:400;--size:36px;--size-tablet:46px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggETLaDozIs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glZ7v2fIFC"
        class="glZ7v2fIFC"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:46px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglZ7v2fIFC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="gmUKtlWAVY" class="gmUKtlWAVY !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--mb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--op:100%;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gmUKtlWAVY" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/a751dc0683984539b791440f4308464f.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkZwgCVeCG"
        class="gkZwgCVeCG"
        style="--ta:left;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkZwgCVeCG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="giw12WOp1R gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "presentation mobile" }],
    "name": "presentation mobile",
    "tag": "section",
    "class": "gps-601118599599358828 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdu5vd-rc/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=601118599599358828)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggETLaDozIs_text","label":"ggETLaDozIs_text","default":"Salut, je suis <strong>Tom</strong>"},{"type":"html","id":"gglZ7v2fIFC_text","label":"gglZ7v2fIFC_text","default":"Fondateur <span style=\"color:#EC6129;\">d’<strong>UndrDog Hemp</strong>.</span>"},{"type":"html","id":"ggkZwgCVeCG_text","label":"ggkZwgCVeCG_text","default":"<p><span style=\"font-size:16px;\"><i>Le monde du t-shirt était complètement cassé… alors j’ai décidé de le réparer.</i></span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Mais ça n’a pas été sans obstacles.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Je bosse dur depuis l’enfance. J’ai créé des marques, aidé des millions de personnes.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Mais les t-shirts… là, c’est devenu une véritable obsession.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Chaque t-shirt que j’aimais perdait sa forme, sentait mauvais, rétrécissait, se déchirait ou se décolorait… et quelques mois plus tard, je devais en racheter un autre.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\"><strong>Ça me rendait fou.</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}